<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarLayouting"
        tools:targetApi="31">
<!--        <activity android:name=".LinearLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".RelativeLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".ConstraintLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".FrameLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".HorizontalScrollViewLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".MaterialDesign"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".ScrollViewLayout"-->
<!--            android:exported="true"></activity>-->
<!--        <activity android:name=".TableLayout"-->
<!--            android:exported="true"></activity>-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>